/* filter */
.filter-section {
  border-style: groove;
  margin: 10px;
}
.function-section {
  border-style: groove;
  margin: 10px;
}
.paging-section {
  border-style: groove;
  margin: 10px;
}
.result-section {
  border-style: groove;
  margin: 10px;
}
.result-sortingmode-section{
  border-style: groove;
  margin: 10px;
}

/* title */
.status-title-block {
  width: 100px;
  display: inline-block;
}

.country-title-block {
  width: 100px;
  display: inline-block;
}

.id-title-block {
  width: 100px;
  display: inline-block;
}

.mtype-title-block {
  width: 100px;
  display: inline-block;
}

.lastUpdateTime-title-block {
  width: 100px;
  display: inline-block;
}

.editor-title-block {
  width: 100px;
  display: inline-block;
}

.control-title-block {
  width: 100px;
  display: inline-block;
}

.display-title-block {
  width: 220px;
  display: inline-block;
}

.search-title-block {
  width: 220px;
  display: inline-block;
}

.sort-title-block{
  width: 100px;
  display: inline-block;
}

/* display */
.status-block {
  width: 100px;
  display: inline-block;
  vertical-align: middle;
}

.country-block {
  width: 100px;
  display: inline-block;
  vertical-align: middle;
}

.id-block {
  width: 100px;
  display: inline-block;
  vertical-align: middle;
}

.mtype-block {
  width: 100px;
  display: inline-block;
  vertical-align: middle;
}

.lastUpdateTime-block {
  width: 100px;
  display: inline-block;
  vertical-align: middle;
}

.editor-block {
  width: 100px;
  display: inline-block;
  vertical-align: middle;
}

.control-block {
  width: 100px;
  display: inline-block;
  vertical-align: middle;
}

.display-block {
  width: 220px;
  display: inline-block;
  vertical-align: middle;
}

.search-block {
  width: 220px;
  display: inline-block;
  vertical-align: middle;
}

.sort-block {
  width: 100px;
  display: inline-block;
  vertical-align: middle;
}

/* edit */
.status-edit-block {
  width: 100px;
  display: none;
  vertical-align: middle;
}

.country-edit-block {
  width: 100px;
  display: none;
  vertical-align: middle;
}

.id-edit-block {
  width: 100px;
  display: none;
  vertical-align: middle;
}

.mtype-edit-block {
  width: 100px;
  display: none;
  vertical-align: middle;
}

.lastUpdateTime-edit-block {
  width: 100px;
  display: none;
  vertical-align: middle;
}

.editor-edit-block {
  width: 100px;
  display: none;
  vertical-align: middle;
}

.control-edit-block {
  width: 100px;
  display: none;
  vertical-align: middle;
}

.display-edit-block {
  width: 220px;
  display: none;
  vertical-align: middle;
}

.search-edit-block {
  width: 220px;
  display: none;
  vertical-align: middle;
}

/* add */
.display-en {
  width: 100px;
}
.display-ja{
  width: 100px;
}
.display-zh-TW{
  width: 100px;
}
.search-en {
  width: 100px;
}
.search-ja{
  width: 100px;
}
.search-zh-TW{
  width: 100px;
}
