/* filter css */
.filter-section {
  border-style: groove;
  margin: 10px;
}
.function-section {
  border-style: groove;
  margin: 10px;
}
.paging-section {
  border-style: groove;
  margin: 10px;
}
.result-section {
  border-style: groove;
  margin: 10px;
}

/* title */
.status-title-block {
  width: 100px;
  display: inline-block;
}

.url-title-block {
  width: 300px;
  display: inline-block;
}

.name-title-block {
  width: 200px;
  display: inline-block;
}

.loc-title-block {
  width: 100px;
  display: inline-block;
}

.lang-title-block {
  width: 100px;
  display: inline-block;
}

.ttl-title-block {
  width: 100px;
  display: inline-block;
}

.autoAnnounce-title-block {
  width: 100px;
  display: inline-block;
}

.control-title-block {
  width: 100px;
  display: inline-block;
}


/* display */
.status-block {
  width: 100px;
  display: inline-block;
}

.url-block {
  width: 300px;
  display: inline-block;
}

.name-block {
  width: 200px;
  display: inline-block;
}

.loc-block {
  width: 100px;
  display: inline-block;
}

.lang-block {
  width: 100px;
  display: inline-block;
}

.ttl-block {
  width: 100px;
  display: inline-block;
}

.autoAnnounce-block {
  width: 100px;
  display: inline-block;
}

.control-block {
  width: 100px;
  display: inline-block;
}


/* edit */
.status-edit-block {
  width: 100px;
  display: none;
}

.url-edit-block {
  width: 300px;
  display: none;
}

.name-edit-block {
  width: 200px;
  display: none;
}

.loc-edit-block {
  width: 100px;
  display: none;
}

.lang-edit-block {
  width: 100px;
  display: none;
}

.ttl-edit-block {
  width: 100px;
  display: none;
}

.autoAnnounce-edit-block {
  width: 100px;
  display: none;
}

.control-edit-block {
  width: 100px;
  display: none;
}

.display-edit-block {
  width: 150px;
  display: none;
}

.search-edit-block {
  width: 150px;
  display: none;
}

/* add */
.page-text-block{
  margin: 10px;
  text-align: center;
}

.page-change-block{
  margin: 10px;
  text-align: center;
}
