
nav
	.log-section
		a(href="/web/index").web-title Visimo
	ul.category-section

		li.category-item
			h5.item-title LBS
			ul.d-menu
				li.d-item Spot Category Management
				li.d-item Spot Review Management

		li.category-item
			h5.item-title News Feed
			ul.d-menu
				li.d-item#nav-ContentProviderManagement Content Provider Management
				li.d-item#nav-FeedCategoryManagement Feed Category Management
				li.d-item#nav-FeedManagement Feed Management

		li.category-item
			h5.item-title Booking
			ul.d-menu
				li.d-item Hotel
				li.d-item Hotel Search Management
				li.d-item SIM
				li.d-item Promo Code Management
				li.d-item SIM Application Management
				li.d-item Flight

		li.category-item
			h5.item-title Coupon
			ul.d-menu
				li.d-item ???

		li.category-item
			h5.item-title Customer Service
			ul.d-menu
				li.d-item Misc Info Management
				li.d-item Customer Inquires

		li.category-item
			h5.item-title Report
			ul.d-menu
				li.d-item Site performance

		li.category-item
			h5.item-title Development
			ul.d-menu
				li.d-item API console
				li.d-item System Monitoring

		li.category-item
			h5.item-title Profile
			ul.d-menu
				li.d-item#nav-ChangePasswd Change Password
