doctype html
html
  head
    title forgetPass
    meta(content='charset=utf-8')
    script(src='/js/jquery/jquery.min.js')
    script(src='/js/jquery/jquery.cookie.js')

    script(src='/js/common.js')
    script(src='/js/header.js')
    script(src='/js/forgetPass.js')
    link(href='/css/header.css', rel='stylesheet')
  body
    div.header
      include ./header.jade
    div.container
      h1 Forget Password Page
      | Name
      input#username(type='text')
      button#btn_fgtpass Confirm
      div#status
