extends import/_layout.jade

block content
  script(src='/js/index.js')
  h1 Index Page
  div(style='text-align:center;')
    img(src='/img/working.png')
  // div.cell
   // a(href='./feed/FeedManagement') Feed
  // div.cell
   // a(href='./feed/FeedCategoryManagement') Feed Category
  // div.cell
   // a(href='./feed/ContentProviderManagement') Feed Provider
  // div.cell
   // a(href='./user') User
