doctype html
html
  head
    title index
    meta(content='charset=utf-8')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js')
    script(src='/js/common.js')
    script(src='/js/index.js')
    link(href='/css/header.css', rel='stylesheet')
  body
    div.header
      include ./header.jade
    div.container
      h1 Index Page
      div.cell
        a(href='./feed/FeedManagement') Feed
      div.cell
        a(href='./feed/FeedCategoryManagement') Feed Category
      div.cell
        a(href='./feed/ContentProviderManagement') Feed Provider
      div.cell
        a(href='./user') User
