doctype html
html
  head
    title resetPass
    meta(content='charset=utf-8')
    script(src='/js/jquery/jquery.min.js')
    script(src='/js/jquery/jquery.cookie.js')

    script(src='/js/common.js')
    script(src='/js/header.js')
    script(src='/js/resetPass.js')
    
    link(href='/css/header.css', rel='stylesheet')
  body
    div.header
      include ./header.jade
    div.container
      h1 Reset Password Page
      | New
      input#n_pwd(type='password')
      | Re-new
      input#rn_pwd(type='password')
      button#btn_setpasswd Reset Password
      div#status
