doctype html
html
  head
    title user
    meta(content='charset=utf-8')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js')
    script(src='/js/common.js')
    script(src='/js/user.js')
    link(href='/css/header.css', rel='stylesheet')
  body
    div.header
      include ./header.jade
    div.container
      h1 User page
      a(href='./user/passwd') Change Password
