doctype html
html
  head
    title provder sandbox
    meta(content='charset=utf-8')
    script(src='/js/jquery/jquery.min.js')
    script(src='/js/jquery/jquery-ui.min.js')
    script(src='/js/jquery/jquery.cookie.js')

    script(src='/js/common.js')
    script(src='/js/feed/addprovidersand.js')

    link(href='/css/feed/addprovidersand.css', rel='stylesheet')
    link(href='/css/onoffswitch.css', rel='stylesheet')

  body
    h2 Rss parser
    div.input
      div RSS input
      textarea#inputrss(rows=10 cols=50)
    div.cvtbtn
      button#btn_RssToJson Convert
    div.output
      div Json Result
      textarea#outputjson(rows=10 cols=50 readonly)
    div.sampleresult
    div.newprovider-form
      h2 Add new content provider
      | Attention!! Fillup following column and submit if you feel good, DO NOT submit if you think parse result is shit.
      div#url-edit-block URL
        input(type='text', placeholder='http://hostname/')
      div#name-edit-block Name
        input(type='text', placeholder='provider name')
      div#country-edit-block Target Country
        include ../component/select-loc.jade
      div#lang-edit-block Language
        include ../component/select-lang.jade
      div#ttl-edit-block TTL
        input(type='number', min=0, max=90)
      button#btn-newprovider Submit New Provider
    div#result-block
