doctype html
html
  head
    title feed_category
    meta(content='charset=utf-8')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js')
    script(src='/js/common.js')
    script(src='/js/feed/category.js')
    link(href='/css/header.css', rel='stylesheet')
  body
    div.header
      include ../header.jade
    div.container
